- if current_user.try(:admin?)
  %impersonate
    = form_for :user, :as => :post, :url => impersonate_path do |f|
      .form-group
        %label= 'View as:'
        = select(:user, :id, options_for_select(User.all.map{|u| [u.email, u.id]}), {}, {:class => "form-control"})
      .actions
        = f.submit 'Impersonate', :class => 'btn btn-warning'
