#books_search_form
  = form_tag books_path, :method => :get do
    #books_search_form_searchbox
      .input-group
        = text_field_tag :search, params[:search], :placeholder => 'Search ...', class: 'form-control'
        .input-group-btn
          %button.btn.btn-default{:type => "submit", :id => 'search_button'}
            %i.fa.fa-search
