.field
  - if f.object.user_id == current_user.id || f.object.user_id.nil?
    = f.text_area :body
    - if f.object.user_id.nil?
      = f.hidden_field :user_id, value: current_user.id
    - else
      = f.hidden_field :user_id, value: f.object.user_id
    = f.hidden_field :book_id, value: @book.id
