- @review = review
- if current_user && @review.user == current_user
  = form_for @review do |f|
    = render 'reviews/review_fields', :f => f
    .actions
      = f.submit 'Update'
- else
  = @review.body