- if current_user && review.user == current_user && !current_user.restricted?
  = form_for review do |f|
    = render 'reviews/review_fields', :f => f, :book => book
    .actions
      = f.submit 'Update'
- else
  = review.body